<p>
    about works en {{!empresa ? 'mi empresa' : empresa}}
</p>
<p>
    <!-- Empresa Cliente: {{cliente?.nombre}} -->
</p>

<cas-articulo
   [titulo]="'Angular Fundamentos'" 
   [autor]="'Juan Pérez'">
   <h2>Acerca de Angular</h2>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis adipisci eligendi commodi dolorum. Dolores quia recusandae magnam perferendis debitis, vel magni excepturi sit rem suscipit sint eaque iure quas commodi!</p>
   <p>Libero, numquam! Molestias quo inventore quam dicta exercitationem ad optio eos maxime sed non rem at maiores ipsam fugit minus sapiente est rerum, officia itaque consequatur voluptates animi explicabo veritatis!</p>
   <p>Vel beatae voluptatem deserunt voluptates repellendus alias corrupti quasi at odio error, ut ad soluta dolore aliquid nam est veritatis harum cum ipsum libero ipsam quas quis eum nobis. Quam?</p>
   <p>Laboriosam, quas repellat illo animi impedit veritatis odit eum aliquid voluptas fugit, suscipit ad non ea veniam tenetur, commodi praesentium et inventore amet molestias dolore? Eius sunt magnam earum cum!</p>
   <p>Voluptatum beatae tenetur blanditiis architecto, at odit porro accusantium labore pariatur placeat earum dolor ducimus nulla reprehenderit quos? Error et explicabo dolorum aut officiis omnis architecto cumque iste nemo esse!</p>
</cas-articulo>
<cas-articulo
   [titulo]="'Angular Avanzado'" 
   [autor]="'Pepe Pérez'">
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, ab nesciunt? Eum quo dignissimos suscipit, nihil odio itaque, eius labore est odit ex similique vel facere modi porro? Quidem, dolor!</p>
   <p>Ad, quae totam. Aperiam aspernatur, numquam architecto esse laboriosam dolore nam nisi atque dicta corporis eaque, dolor nesciunt pariatur molestiae. Rem consectetur animi a. Sit, laboriosam magnam. Hic, explicabo dolorem!</p>
   <p>Atque pariatur itaque porro ratione, eius laudantium esse sit soluta ut optio quo adipisci eaque provident veritatis cupiditate vero perferendis illum quae quisquam aperiam! Sequi deserunt mollitia incidunt facere unde.</p>
</cas-articulo>
